/* Body */
body {
  background: white;
  height: 100%;
  /* background: radial-gradient(#5091DD 0%, #030617 100%); */
  background: rgb(255, 255, 255) no-repeat fixed center;
}

/* Page Title */
.home_title {
  padding: 10% 0% 0% 0%;
  font-size: medium;
  color: white;
  text-align: center;
}

/* Login Title */
.login_title {
  font-size: medium;
  padding: 0px 0px 0px 0px;
  text-align: center;
  color: white;
}

/* Form Div */
.div_form {
  padding: 5% 0px 0px 0px;
  margin: auto;
  width: 90%;
}

/* Authorisation Title */
.access_title {
  padding: 10px;
  text-align: center;
  color: red;
  background-color: black;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  border-radius: 25px;
  font-size: medium;
}

.div_database {
  text-align: center;
  color: white;
  background-color: black;
  width: 90%;
  margin: auto;
  border-radius: 25px;
  font-size: x-small;
}

/* Containers Div */
.top_container {
  padding: 18px;
  background-color: whitesmoke;
  border-radius: 22px;
}

.bottom_container {
  padding: 18px;
  background-color: rgb(196, 196, 196);
  /* border-radius: 0px 0px 21px 21px; */
}

form {
  border: 3px solid rgb(160, 160, 160);
  border-radius: 25px;
}

/* Input Field Titles */
.field_title {
  color: black;
}

/* Data Entry Fields */
input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  border-radius: 25px;
}

.input_field:invalid {
  border-color: red;
}

/* Buttons */
button {
  background-color: black;
  border-radius: 15px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Button Hover */
button:hover {
  opacity: 0.8;
}

.submit_button_text {
  font-weight: 600;
}

.register_button_text {
  font-weight: 100;
  color: green;
}

.green_span {
  color: green;
}

.red_span {
  color: red;
}

/* Media Style: 600px - Phone Settings */
@media screen and (min-width: 600px) {
  .home_title {
    padding: 5% 0% 0% 0%;
    font-size: xx-large;
  }

  /* Login Title */
  .login_title {
    font-size: xx-large;
  }

  .div_form {
    padding: 2% 0% 2% 0%;
    margin: auto;
    width: 90%;
  }

  .access_title {
    width: 50%;
  }

  .div_database {
    width: 40%;
  }
}

/* Media Style: 800px - Small Computer Screen & Tablet Landscape Settings */
@media screen and (min-width: 800px) {
  .home_title {
    padding: 5.0% 0% 0% 0%;
    font-size: xx-large;
  }

  /* Login Title */
  .login_title {
    font-size: xx-large;
  }

  /* Form Div */
  .div_form {
    padding: 25px 0px 0px 0px;
    margin: auto;
    width: 50%;
  }

  .access_title {
    width: 40%;
  }

  .div_database {
    width: 40%;
  }
}

/* Media Style: 1100px - Computer Settings */
@media screen and (min-width: 1100px) {
  .home_title {
    padding: 5.0% 0% 0% 0%;
    font-size: xx-large;
  }

  /* Login Title */
  .login_title {
    font-size: xx-large;
  }

  /* Form Div */
  .div_form {
    padding: 25px 0px 0px 0px;
    margin: auto;
    width: 30%;
  }

  .access_title {
    font-size: medium;
    width: 30%;
  }

  .div_database {
    width: 30%;
  }

}